# Node dependencies
node_modules/

# Angular cache files
.angular/cache/

# Ionic build
www/

# Build output
dist/
/tmp/
/out-tsc/

# Ionic
.ionic/
.sourcemaps/

# IDE
.idea/
*.sublime-project
*.sublime-workspace
*.launch
.project
.classpath
.settings/
.c9/
.history/

# Logs
*.log
npm-debug.log
yarn-error.log

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Misc
*.sw[mnpcod]
*~
*.tmp
*.tmp.*
.tmp/
.sass-cache/
coverage/
testem.log
