<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Network Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- Display the network status -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Network Status</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Connected: {{ networkStatus.connected ? 'Yes' : 'No' }}</p>
      <p>Connection Type: {{ networkStatus.connectionType }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>